---
import { Image } from "@astrojs/image/components";
---

<div>
  <a
    class="flex justify-center"
    href="https://stackoverflow.com/users/18620006/sayandcode"
  >
    <Image
      src="https://stackoverflow.com/users/flair/18620006.png"
      width={208}
      height={58}
      class="w-fit"
      alt="Profile for sayandcode at Stack Overflow, Q&A for professional and enthusiast programmers"
      title="profile for sayandcode at Stack Overflow, Q&A for professional and enthusiast programmers"
    />
  </a>
</div>
