.container{
  border-radius: 1em;
  background-color: var(--translucentBlack);
  padding-bottom: 2em;
  padding-inline: 2em;
}

.title {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-weight: 700;
}
.container:hover .title {
  text-decoration: underline;
  text-decoration-color: var(--red);
}

.itemsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
