---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import WhoAmI from "../components/index/WhoAmI.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="h-screen flex flex-col">
    <Header title={SITE_TITLE} />
    <main class="h-full">
      <WhoAmI />
    </main>
    <Footer />
  </body>
</html>
