---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
---

<a href={href} class:list={[className]} {...props}>
  <slot />
</a>
<style lang="scss">
  a {
    --base-color: #3273dc;
    color: var(--base-color);
    box-shadow: inset 0 0 0 0 var(--base-color);
    transition-property: box-shadow, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    &:hover,
    &:focus-visible {
      outline: none;
      color: white;
      box-shadow: inset 0 -1.5em 0 0 var(--base-color);
    }
  }
</style>
