---
import AnimatedLink from "./AnimatedLink.astro";
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="flex items-center justify-between gap-x-4 p-6">
  <AnimatedLink
    href="/"
    class="font-bold text-2xl"
    style={{ "--base-color": "#444" }}
  >
    {SITE_TITLE}
  </AnimatedLink>
  <nav class="flex flex-wrap justify-end gap-2 gap-x-4">
    <HeaderLink href="/projects">Projects</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="https://github.com/sayandcode/" target="_blank">
      GitHub
    </HeaderLink>
    <HeaderLink
      href="https://stackoverflow.com/users/18620006/sayandcode"
      target="_blank"
    >
      Stack-Overflow
    </HeaderLink>
    <HeaderLink href="https://www.linkedin.com/in/sayandcode/" target="_blank">
      LinkedIn
    </HeaderLink>
  </nav>
</header>
