@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root{
  --blue: #087E8B;
  --white: #F5F5F5;
  --red: #FF5A5F;
  --black: #3C3C3C;
  --translucentBlack: #3C3C3C1f;
  }

body {
  background-color: var(--white);
  font-family: 'Noto Sans', sans-serif;
}

#title {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  margin-block: 1em 0.1em;
  font-size: 3rem;
}

#subtitle {
  font-weight: 400;
  font-style: italic;
  text-align: center;
  font-size: 1.5rem;
  margin-block: 0.5em 1em;
}
