---
const emailId = "sayand.satish3@gmail.com";
---

<div
  class="flex flex-col sm:flex-row lg:text-lg border border-slate-500 sm:w-fit"
>
  <div class="p-3 text-center">{emailId}</div>
  <a
    href={`mailto:${emailId}`}
    target="_blank"
    class="p-3 text-center bg-blue-400 focus-visible:bg-blue-200 focus-visible:outline-blue-800 hover:bg-blue-200 text-white"
    >hmu</a
  >
</div>
